<div class="row row-cols-1 row-cols-md-3 row-cols-xl-4 g-4 animated fadeIN">
  <div class="col" *ngFor="let item of items">
    <div (click)="verArtista( item )" class="card h-100 puntero">
      <img [src]="item.images | noimage " class="card-img-top" [alt]="item.name">
      <div class="card-body">
        <h5 class="card-title"> {{ item.name }} </h5>
        <p class="card-text">
          <span class="badge text-bg-primary" *ngFor="let artista of item.artists "> {{ item.name }} </span>
        </p>
      </div>
    </div>
  </div>
</div>